<%- include('../../shared/includes/head', { pageTitle: 'Signup'}) %> <%# Value of Page Title - Hardcoded/Controller %>
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
      <h1>Create New Account</h1>
      <% if(inputData.errorMessage) { %> <%# -- inputData we use before property name -- error message -  If we have erroneous data %>
        <section class="alert">
            <h2>Invalid Input</h2>
            <p><%= inputData.errorMessage  %></p>
        </section>
        <% } %>
        <%# To restore the entered value we'll use value attribute %>  
      <form action="/signup" method="POST">
        <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>"> <%# For token to be part of submission  %>
        <p>
            <label for="email">E-Mail</label> <%# what kind of value expected - Logically coonected to input by for and id attribute %>
            <input type="email" id="email" name="email" value="<%= inputData.email %>" required> <%# name attribute - To extract the value enteredd by user in server side %>
        </p>
        <p>
            <label for="confirm-email">Confirm Email</label> 
            <input type="email" id="confirm-email" name="confirm-email" value="<%= inputData.confirmEmail %>" required> 
        </p>
        <p>
            <label for="password">Password</label> 
            <input type="password" id="password" name="password" value="<%= inputData.password %>" minlength="6" required> 
        </p>        
        <hr> <%# horizontal line or divider  %>
        <p>
            <label for="fullname">Full Name</label> 
            <input type="text" id="fullname" name="fullname" value="<%= inputData.fullname %>" required> 
        </p>
        <p>
            <label for="street">Street</label> 
            <input type="text" id="street" name="street" value="<%= inputData.street %>" required> 
        </p>
        <p>
            <label for="postal">Postal Code</label> 
            <input 
                type="text" 
                id="postal" 
                name="postal"
                value="<%= inputData.postal %>" 
                minlength="6" 
                maxlength="6" 
                required> 
        </p>
        <p>
            <label for="city">City</label> 
            <input type="text" id="city" name="city" value="<%= inputData.city %>" required> 
        </p>
        <button class="btn">Create Account</button>
        <p id="switch-form"><a href="/login">Login Instead</a></p>
      </form>  
    </main>
<%- include('../../shared/includes/footer') %> <%# No need to add footer everytime manually  %>